PORT=5000
APP_SOME_UNIQUE_KEY={"name": "Some Project", "cronTime": "0 10 * * * *", "apiKey": "some-api-key", "adminSecret": "some-admin-secret", "prometheusUrl": "http://example.com", "systemThresholds": [{"threshold":3,"type":"PERFORMANCE_DEGRADE","title":"Servers are on very high load (>80% CPU usage)","description":"We are experiencing very high load on servers. Services may be unresponsive. Please try again later.","action":"DISMISS"},{"threshold":4,"type":"SYSTEM_OFFLINE","title":"Servers are offline (>90% CPU usage)","description":"Server offline","action":"DESTRUCT"}]}
